{% extends 'base.html.twig' %}
    
 {% block title %} Symfony React Project {% endblock %}
    
 {% block body %}
    
     <div id="root"></div>
    
 {% endblock %}
 
{% block javascript %}
<script id="jquery"></script>
{% endblock %}