  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
  }
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.component {
    height: 100%;
    width: 100%;
    display: flex;
}

.component.first-component {
    background-image:url('../../public/img/diapo/diapositive1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.first-component--inside-scroller {
    position: absolute;
    right: 20px;
    top: 100px;
}

.component.second-component {
  background-image:url('../../public/img/diapo/diapositive2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.component.third-component {
  background-image:url('../../public/img/diapo/diapositive3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.component.fourth-component {
  background-image:url('../../public/img/diapo/diapositive4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.component.fifth-component {
  background-image:url('../../public/img/diapo/diapositive5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.component.six-component {
  background-image:url('../../public/img/diapo/diapositive6.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.component.seven-component {
  background-image:url('../../public/img/diapo/diapositive7.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.component.eight-component {
  background-image:url('../../public/img/diapo/diapositive8.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pagination-additional-class {
    margin: 0;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
    margin-right: 50px;
}

.demo-page-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.demo-page-contain__hint {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
        margin-right: 5px;
    }
}