<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Nicolas Gretten{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../favicon-96x96.png">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
  
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
